a.brand,
a.alt,
a.doc {
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
}

a.brand.icon-start::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/icon-start.svg");
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background-position 0.25s ease;
  animation-name: start-arrow;
  animation-duration: 1s;
  animation-iteration-count: 4;
  animation-timing-function: ease-out;
}

@keyframes start-arrow {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
    animation-timing-function: ease-in;
  }
  100% {
    background-position: left center;
  }
}

/* a.alt.icon-github::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/icon-github.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.5em;
} */

a.doc.icon-doc::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url("/icon-doc.svg");
  background-repeat: no-repeat;
  margin-right: 0.5em;
  background-size: 90% 100%;
  background-position: left center;
  transition: background-position 0.25s ease;
}

a.doc.icon-table::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("/icon-table.svg");
  background-repeat: no-repeat;
  margin-right: 0.5em;
  background-size: 90% 100%;
  background-position: left center;
  transition: background-position 0.25s ease;
}

a.brand.icon-start:hover::after,
a.doc.icon-doc:hover::before,
a.doc.icon-table:hover::before {
  background-position: right center;
}

a.doc.icon-doc:hover,
a.doc.icon-table:hover {
  box-shadow: 0px 0px 10px 0px var(--vp-c-brand);
  transition: box-shadow 0.25s ease;
}
